# Ignore bundler config.
/Pods
*.DS_Store
Podfile.lock
GalerkinMethod.xcodeproj/xcuserdata
GalerkinMethod.xcworkspace/xcuserdata
.idea/.name
.idea/encodings.xml
.idea/GalerkinMethod.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
ObjcUML/dependency.css
ObjcUML/index.html
ObjcUML/origin.js
ObjcUML/Scripts/d3.v3.js
ObjcUML/Scripts/d3.v3.min.js
ObjcUML/Scripts/d3js-LICENSE
ObjcUML/Scripts/parse.js
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/*/*Screen.png
fastlane/screenshots/*/*framed.png
fastlane/screenshots/screenshots.html
fastlane/test_output
*.ipa
*.dSYM.zip